<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineEase"
        tools:targetApi="31">
        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".pos.film.PenjualanFilmActivity"
            android:exported="false" />
        <activity
            android:name=".pos.snack.PenjualanSnackActivity"
            android:exported="false" />
        <activity
            android:name=".pos.snack.AddSnackActivity"
            android:exported="false" />
        <activity
            android:name=".pos.film.AddFilmActivity"
            android:exported="false" />
        <activity
            android:name=".pos.film.FilmActivity"
            android:exported="false" />
        <activity
            android:name=".pos.snack.SnackActivity"
            android:exported="false" />
        <activity
            android:name=".pos.LaporanPenjualanActivity"
            android:exported="false" />
        <activity
            android:name=".pos.KelolaInventarisActivity"
            android:exported="false" />
        <activity
            android:name=".snack.SnackDetailActivity"
            android:exported="false" />
        <activity
            android:name=".snack.SnackPickActivity"
            android:exported="false" />
        <activity
            android:name=".BookSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethod"
            android:exported="false" />
        <activity
            android:name=".snack.SnackPaymentMethod"
            android:exported="false" />
        <activity
            android:name=".movie.SelectSeatActivity"
            android:exported="false" />
        <activity
            android:name=".movie.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>